table tr:nth-child(2n+1) {
  background-color: #dfe3ff;
}

.my-pagination /deep/ .ngx-pagination .current {
  background: #6777ef;
}

.my-pagination /deep/ ul {
  padding: 0;
  margin: 0;
}


.my-pagination /deep/ {
  border: 0.5px solid #6777ef;
}
